.jumbotron{
    background-color:#b3b3b3;
  }

.jumbotron h1 {
  color: white;
  text-align: center;
}

#criterion h3 {
  border-radius: 10%;
  background-color:#e6e6e6;
  margin-bottom: 1%;
}
.radio {
  margin-bottom: 1.5%;
}

.footer {
  text-align: center;
}
